@use'../../styles/config';

.cardList {
    
    display: grid;
    align-items: center;
    justify-content: flex-start;
    gap:1.5rem;
    grid-template-columns: repeat(3,1fr);

    &__title {
        width: 100%;
        background-color: lightgreen;
    }

    
}