@use'../../styles/config' as *;

.cardList {
    
    display: grid;
    align-items: center;
    justify-content: flex-start;
    gap:1.5rem;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    
    &__title {
        width: 100%;
        background-color: lightgreen;
    }
    
    @include media-query(tablet-sm){
        grid-template-columns: repeat(2,1fr);
        
    }
    @include media-query(tablet-lg){
        grid-template-columns: repeat(3,1fr);
        
    }
    @include media-query(desktop){}

    
}