// Define tus propias utilidades antes de importar el resto de Bootstrap
$utilities: map-merge(

    $utilities,
        (
        // Añade nuevas utilidades, REDEFINIENDO las antiguas
        "opacity": (
            property: opacity,
            responsive: true,
            values: (
                0: 0,
                25: .25,
                33: .33333, // nueva utilidad  opacity-33
                50: .5,
                66: .66666, // nueva utilidad  opacity-66
                75: .75,
                100: 1,
            )
        ),

        // Añade a text-color
        "text-color": (
            property: color,
            class: text,        // genera:  text-white
            responsive: true,   // genera:  text-md-white
            state: hover,       // genera:  text-md-white-hover
                                // Mantiene los valores originales
            values: map-merge(
                $utilities-text-colors, 
                (
                  "white": white,
                  "black": black,
                  "teal": teal,
                  "tealVar": var(--bs-teal),
                )
            )
        ),

        // AÑADE más utilidades PERSONALIZADAS aquí:
        "custom-class-01": (
            class: custom, // class personalizada (PUEDE SER bg-tan) : [custom-tan, custom-coral, custom-md-coral]
            property: background-color,
            responsive: true,
            values: (
                "tan": tan,
                "coral": coral
                )
        ),

        "margin-custom": (
            class: m, // genera: m-10, m-15, m-20
            property: margin,
            responsive: true,
            values: (
                10 : 10px,
                15 : 15px,
                20 : 20px,
                1 : $spacer,
            )
        ),
            
    )
);



/*==============================================
=            UTILITY CLASSES                  =
==============================================*/


.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.disabled {
    color: rgba(0, 0, 0, 0.5);
}
.cursor-pointer {
    cursor: pointer;
}
.no-select {
    user-select: none;
}




