$color1 : #26D0CE;
$color2 : darken($color1, 15%);
$color3 : darken($color2, 15%);


:root {
}

.claseDesdeModule {

    //--bs-btn-hover-border-color : $color3!important;
    --bs-btn-border-width : 0!important;
    --bs-btn-border-radius : 100px!important;
    --bs-btn-padding-x : 2em!important;
    --bs-btn-padding-y : 0.5em!important;


    background-image: linear-gradient(to right, $color2 0%, $color1  51%, $color2  100%);
    margin: 10px;
    padding: 0.65em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    transition: .15s ;
    transition: all ease-in-out 350ms;
}

.claseDesdeModule:hover {
    background-image: linear-gradient(to right, $color3 0%, $color2  51%, $color3  100%);
    background-position: right center;
    color: #fff;
    text-decoration: none;
}