$purple: #622F60;
$orange: #FF8F50;
$pepe: #ff0000;

$color-primary: $orange;
$color-secondary:$purple;
$white: #ffffff;
$color-light: $white;
$color-gray-light: #A0989F;

// ------------------------------------
//  MIXIN BREAKPOINTS
// ------------------------------------
$bp-tablet-sm: 744px;
$bp-tablet-lg: 1023px;
$bp-desktop: 1440px;

@mixin media-query($size) {
    @if $size == tablet-sm {
        @media (min-width: $bp-tablet-sm) {
            @content;
        }
    } @else if $size == tablet-lg {
        @media (min-width: $bp-tablet-lg) {
            @content;
        }
    } @else if $size == desktop {
        @media (min-width: $bp-desktop) {
            @content;
        }
    } @else {
        @warn "Mixin media-query: Breakpoint '#{$size}' no reconocido.";
    }
}





// 0.25rem = 4px, --> 1rem = 16px
$spacing-unit: 0.25rem; 
//////////////
$spacing-1: $spacing-unit * 1;  // 0.25rem  4px
$spacing-2: $spacing-unit * 2;  // 0.5rem   8px
$spacing-3: $spacing-unit * 3;  // 0.75rem  12px
$spacing-4: $spacing-unit * 4;  // 1rem     16px
$spacing-5: $spacing-unit * 5;  // 1.25rem  20px
$spacing-6: $spacing-unit * 6;  // 1.5rem   24px
$spacing-7: $spacing-unit * 7;  // 1.75rem  28px
$spacing-8: $spacing-unit * 8;  // 2rem     32px
$spacing-9: $spacing-unit * 10; // 2.5rem   40px
$spacing-10: $spacing-unit * 12; // 3rem    48px


// RADIUS
$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;
$radius-full: 60px;