@use '../styles/config' as *;


.container {
    @media (min-width: 576px) {
        max-width: $bp-tablet-sm - 28px!important;
    }

    
    @media (min-width: $bp-tablet-sm) {
        max-width: 700px!important;
    }
    
    @media (min-width: $bp-tablet-lg) {
        max-width: 992px!important;
    }
    
    @media (min-width: $bp-desktop) {
        border:1px solid red;
        max-width: 1360px!important;
    }
}