.title-block {
    text-align: center;
    margin-bottom: var(--space-4);
    margin-top: var(--space-8);
    line-height: var(--lh-tight);
}

.title-block__heading {
    font-family: var(--font-main);
    font-weight: var(--weight-bold);
    font-size: 30px;
    margin-top: 0;
    margin-bottom: var(--space-4);
    color: var(--color-fg-on-white-hover);
}

.title-block__subtitle {
    font-weight: var(--weight-normal);
    font-size: var(--text-xl);
    font-family: var(--font-secondary);
    color: var(--color-fg-medium-light-default);
}

@media (width >= 743px) {
    .title-block {
        margin-bottom: var(--space-12);
    }
    .title-block__heading {
        font-size: var(--text-4xl);
        margin-bottom: var(--space-2);
    }
    .title-block__subtitle {
        font-size: var(--text-xl);
    }
}

@media (width >= 1022px) {
    .title-block__heading {
        font-size: 34px;
        margin-bottom: var(--space-2);
    }
    .title-block__subtitle {
        font-size: 22px;
    }
}

@media (width >= 1439px) {
    .title-block__heading {
        font-family: var(--font-main);
        font-size: var(--text-36);
    }
    .title-block__subtitle {
        font-size: 22px;
    }
}