@use '../../styles/config' as *;

// -------------------------------------
// BLOQUE: .card
// -------------------------------------
.card {
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;

    &__image {}

    &__tag {
        position: absolute;
        top: $spacing-4;
        right: $spacing-4;
        border-radius: $radius-full;
        padding: $spacing-1 $spacing-3;
        background-color: #FF8F50;
    }

    &__body {
        padding: 1em;
    }


    &__info {

        font-family: "Syne", sans-serif;

        span {}
    }


    &__title {
        font-size: 18px;
    }


    &__footer {
        background-color: #FBF6F4;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: auto;
        gap: $spacing-4;


        @include media-query(tablet-sm) {
            flex-direction: row;
        }

        @include media-query(tablet-lg) {}

        @include media-query(desktop) {}
    }

    &__cta {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;

        & > .btn {
            width: 100%;
        }
    }

    &__priceBlock {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        
        @include media-query(tablet-sm) {
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.25rem;
        }

        @include media-query(tablet-lg) {}

        @include media-query(desktop) {}

    }

    &__price {
        font-weight: 500;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        font-size: 12px;
        line-height: 16px;
        color: #342E34;

        span {
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
        }
    }

    &__details {
        font-weight: 600;
        font-size: 14px;
        color: #622F60;
        width: 100%;
        padding: 0;
        background: transparent;
        justify-content: flex-start;
        border:0;
        display: flex;
        gap: 0.5rem;
        text-decoration: underline;

        &:hover {
            background: transparent;

        }

        & .deailsIcon{
            rotate: -90deg;
        }
    }




}


.popover {

    --bs-popover-body-padding-y: 0;
    --bs-popover-body-padding-x: 0;
    --bs-popover-max-width: 400px;
    overflow: hidden;
     width: 400px;
    padding: 0;
    font-family: "Nunito", serif;
    box-shadow: $shadow;
    &__header {
        padding: 1rem;
        background-color: #FBF6F4;
        display: flex;
        font-weight: 700;
        font-size: 18px;
        justify-content: space-between;

        .popover__close {
            margin-left: auto;
        }
    }

    &__body {
        border-block: 1px solid #E0D9E0;
        padding: $spacing-6;

        .data-row {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0.5em;

            span {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    &__info {
        color: #622F60;
        font-family: "Syne", sans-serif;
        margin-bottom: $spacing-5;
        font-weight: 700;
        font-size: 18px;
        
        & span {
            margin-left: 10px;
            font-weight: 500;
            color: #342E34;
        }
    }

    &__footer {
        padding: 1rem;
        background-color: #FBF6F4;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        gap:0.25rem;
        justify-content: space-between;
        
        
        & span {
            font-size: 22px;
        }
    }

}