@use '../../styles/config' as *; 

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    
    border-bottom: 1px solid $orange; 
    font-weight: 600;


    &__logo {
        flex-shrink: 0;
        & > img { 
            max-width: 145px;
        }
    }

    &__collapse {
        display: none;
        
        @include media-query(tablet-lg) {
            display: flex;
            width: 70%;
            align-items: stretch;
            justify-content: space-between;
            // height: 80px;
        }
        
        @include media-query(tablet-sm) {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            height: 80px;
        }
    }


    // UL
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-inline: 0.75em;
        cursor: pointer;

        &--active {
            border-bottom: 2px solid $orange;
            position: relative;
            
            &::before {
                content:"";
                border-width: 10px;
                border-style: solid;
                position: absolute;
                bottom: 0;
                left: calc(50% - 5px);
                border-color: transparent transparent $orange transparent; 
            }
        }
    }

    &__icon {} 

    &__button {
      align-self: center;
    }

    &__hamburger {
        display: block;
        @include media-query(tablet-sm) { 
            display: none;
        }
        &--open {}
    }
}