

.componente06{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    // admite anidamiento de tags, no .clases
    img {
        max-width: 300px;
        margin-top: 2em;
    }

    p {
        max-width: 300px;
    }
    
    hr{
        width: 100%;
    }
}


.bold {
    font-weight: bold;
}
