:root {
    --bg-component: rgb(240, 251, 255);
    --border-component:rgba(4, 161, 204, 0.3)
}

.componente {
    background-color: var(--bg-component);
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
    min-width: 400px;
    border: 3px solid var(--border-component);
    box-shadow: 5px 5px 0px 0px var(--border-component);
}
.componente hr {
    margin: 5px 0px;
    border-color: var(--border-component);
}
.componente p {
    margin: 5px 0px;
}

.componente h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
.componente button {
    margin: 5px;
    height: 40px;
    border: 2px solid #bbb;
}

.label {
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
}

.incrementInput {
    border: 2px solid #bbb;
    max-width: 100px;
    padding: 1em;
    border-radius: 5px;
    height: 40px;
}
