*[class*="_item"] {
    margin-bottom: 1em;
    padding: 0.5rem;
    width: 200px;
}



.item {
    border:10px solid green;
}

/* camelCase */
.itemDos {
    background-color: lightgreen;
}