body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.mainContainer{
    padding: 2em;
    background-color: #fff;
}

nav {
	background: #f2f3f4;
    border: 1px solid #e2e3e4;
	height: auto;
	display: flex;
	gap: 1em;


    a {
        color: #111;
        padding: 1em;
        flex: 0 0 60px;
        text-align: center;
        text-decoration: none!important;

        &.active {
            border-bottom: 3px solid #b2b3b4;
            background-color: #e2e3e4;
            color: #000;
            font-weight: bold;
        }
    }
}
