$bgcolor: #594c11;
$textcolor: #f7cf21;

.NavMenu {
    padding: 0!important;
    border-bottom:0;
    background-color: #594c11;
    
    .nav-link {
        color: $textcolor;
        padding-left: 2rem!important;
        padding-right: 2rem!important;
        
        &.active {
            --bs-navbar-active-color : $bgcolor;
            border-bottom: 5px solid $textcolor;
            background-color: rgba( $textcolor, $alpha: 0.33);
            color: #fff;
        }
    }

    .dropdown-menu {
        --bs-dropdown-min-width : 300px;
        --bs-dropdown-bg : #594c11;
    }

    .form-control{
        background-color: #f7cf21;
        color: #000;
    }

    .form-check-input:checked {
        background-color: $textcolor;
        border-color: $bgcolor;
    }


}