$bgcolor: rgba(#000, 0.50);
$textcolor: #470b0b;

.NavMenu {
    
    padding: 0!important;
    border-bottom:0;
    background-color: $bgcolor;
    
    .nav-link {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
        color: #fff;
        
        &.active {
            color: #fff;
            --bs-navbar-active-color : $bgcolor;
            border-bottom: 5px solid $textcolor;
            background-color: rgba($textcolor, 0.66);
        }
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        cursor: pointer;
        --bs-dropdown-link-hover-bg: $textcolor!important;
        --bs-dropdown-link-hover-color: $bgcolor!important;
    }

    .dropdown-menu {
        --bs-dropdown-min-width : 300px;
        --bs-dropdown-bg : #470b0b;
        --bs-border-color: #fff;

    }

    .dropdown-toggle::after {
        content: none;
    }

    
    #loginForm {

        .form-control{
            background-color: $textcolor;
            color: #fff;
        }
        
        & > button {
            border:1px solid #fff;
        }
        .form-check-input:checked {
            background-color: $textcolor;
            border-color: $bgcolor;
            
        }
    }
    

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8em;
        .img {
            border: 1px solid $textcolor;
            border-radius: 100%;
            margin-right: 0.40em;
            width: 30px;
            height: 30px;
            display: inline-block;
            overflow: hidden;
        }
    }
}