$bgcolor: #594c11;
$textcolor: #f7cf21;

.NavMenu {
    padding: 0!important;
    border-bottom:0;
    background-color: #594c11;
    
    .nav-link {
        color: $textcolor;
        padding-left: 2rem!important;
        padding-right: 2rem!important;
        
        &.active {
            --bs-navbar-active-color : $bgcolor;
            border-bottom: 5px solid $textcolor;
            background-color: rgba( $textcolor, $alpha: 0.33);
            color: #fff;
        }
    }

    .dropdown-menu {
        --bs-dropdown-min-width : 300px;
        --bs-dropdown-bg : #594c11;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .form-control{
        background-color: #f7cf21;
        color: #000;
    }

    .form-check-input:checked {
        background-color: $textcolor;
        border-color: $bgcolor;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8em;
        .img {
            border: 1px solid $textcolor;
            border-radius: 100%;
            margin-right: 0.40em;
            width: 30px;
            height: 30px;
            display: inline-block;
            overflow: hidden;
        }
    }
}