.reservationList {

    margin: 2em 0;
    padding: 0;

    .reservationLine {
        list-style: none;
        font-size: 1.2em;
        overflow: hidden;
        background-color: rgba(#000000, 0.33);
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        margin-bottom: 5px;
        
        &:hover {
            background-color: rgba(#000000, 0.465);

            .actions {
                opacity: 1;
            }
        }

        &.active{
            border-color: lightgrey;
            background-color: rgba(#000, 0.65);
        }
        
        &.header {
            background-color: rgba(#470b0b, 1);
            border-radius: 20px 20px 0 0;
            font-weight: bold;
            font-size: 15px;

        }

        .info {
            width: 100%;
            gap: 10px;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
        }

        span {
            &.id {
                padding: 0.5em 1em;
                margin-right: 1.5em;
                display: inline-block;
                width: 50px;
                overflow: hidden;
            }
            &.date {
                border-radius: 5px;
            }
            &.user {
                font-size: 0.85em;
            }

            &.status {
                font-size: 12px;
                font-weight: lighter;
                width: min-content;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 100px;
                min-height: 22px;
                padding: 0;
                line-height: 0.7;


                &.pasado {
                    color: #fff !important;
                    background-color: rgb(220, 53, 69) !important;
                }
                &.current {
                    color: #fff !important;
                    background-color: rgb(25, 135, 84) !important;
                }
                &.futuro {
                    opacity: 0;
                }
            }
        }

        .actions {
            opacity: 1;
            display: flex;
            align-self: center;
            justify-self: flex-end;
            margin-left: auto;
            margin-right: 0.5em;

            span {
                cursor: pointer;
                opacity: 0.8;
                border-radius: 50px;
                padding: 0.25em 0.5em ;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    opacity: 1;
                    color: #000;
                    background-color: rgba(#fff, 0.2);
                }
            }
        }


    }
}

#filterReservations {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.9em;
}