.reservationList {

    margin: 2em 0;
    padding: 0;

    .reservationLine {
        list-style: none;
        font-size: 1.2em;
        overflow: hidden;
        background-color: rgba(#ffffff, 0.33);

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        margin-bottom: 3px;
        
        &:hover {
            background-color: rgba(#ffffff, 0.66);

            .actions {
                opacity: 1;
            }
        }

        &.active{
            border-color: lightgrey;
            background-color: rgba(#ffffff, 0.8);
        }
        
        &.header {
            background-color: rgba(#ffffff, 1);
            border-radius: 20px 20px 0 0;
            font-weight: bold;
            font-size: 15px;

        }

        .info {
            width: 100%;
            gap: 10px;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
        }

        span {
            &.id {
                padding: 0.25em 0.5em;
                margin-right: 1.5em;
                display: inline-block;
                width: 50px;
                overflow: hidden;
            }
            &.date {
                background: #ffffffaa;
                padding: 0 0.66em;
                border-radius: 5px;
            }
            &.user {}

            &.status {
                font-size: 14px;
                font-weight: lighter;

                &.pasado {
                    color: #fff !important;
                    background-color: rgb(220, 53, 69) !important;
                }
                &.current {
                    color: #fff !important;
                    background-color: rgb(25, 135, 84) !important;
                }
                &.futuro {
                    opacity: 0;
                }
            }
        }

        .actions {
            opacity: 1;
            display: flex;
            align-self: flex-end;
            justify-self: flex-end;
            margin-left: auto;
            span {
                cursor: pointer;
                opacity: 0.5;
                border-radius: 50px;
                padding: 0.25em 0.5em ;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    opacity: 1;
                    background-color: #db5f5f;
                }
            }
        }


    }
}