@import './tokens/global.css';
@import './tokens/semantic.css';
@import './tokens/component.css';

@import url('./blocks/containers.css');
@import url('./blocks/nav.css');
@import url('./blocks/hero.css');


:root {
  font-family: var(--font-main);
  line-height: var(--lh-base);
  font-weight: var(--weight-normal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,body{
    font-family: var(--font-main);
    line-height: var(--lh-base);
    font-optical-sizing: auto;
    font-style: normal;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--brand-purple);
  }
}



#filter-toggle-button {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-4);
    max-width: fit-content;
    margin-inline: inherit;
    background-color: var(--color-secondary-50);
    color: var(--color-basic-800);
    border: var(--border-width-1) solid var(--color-basic-100);
    border-radius: var(--radius-full);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#filter-toggle-button:hover {
    background-color: var(--color-secondary-100);
    color: var(--color-basic-900);
    border-color: var(--color-basic-200);
}
@media (min-width: 744px) {
    #filter-toggle-button {
        margin-inline: auto;
    }
}
@media (min-width: 1023px) {
    #filter-toggle-button {
        margin-inline:0 auto;
    }
}
@media (min-width: 1440px) {
    #filter-toggle-button {
        display: none;
    }
}
