@use'../../styles/config' as *;

.aside {
    background-color: #FBF6F4;
    font-family: "Nunito", serif;
    border-radius: $radius-lg;
    min-width: 300px;

    &__title {
        font-family: "Syne", serif;
        padding: $spacing-6;
        font-size: 18px;
        font-weight: 700;
        border-bottom: 1px solid #E0D9E0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 0.5em;
        width: 100%;

        .btn-close {
             @include media-query(desktop) {
                    display: none;
                }
        }
    }

    &__body {}

    &__header {
        background: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-height: 48px;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 700;
        border: 0px;
    }

    &__button {

        gap: $spacing-2;

        &:not(.collapsed){
            color: #B85C28 !important;
            font-weight: 700;

            & > svg {
                color: #B85C28;
            }

        }
        &:hover {
            background: #fcebe4;
        }
    }

    &__item {
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & input[type=checkbox]{
            width: 18px;
            height: 18px;
            margin: 0;
            border-radius: 2px;
            cursor: pointer;
            &:checked {
                background-color: #FF8F50;
                border-color: #622F60;
            }
        }
        & label {
            cursor: pointer;
            user-select: none;
        }
    }

    &__section {

        &--list {
            padding: $spacing-6 $spacing-3;
        }

        &--open {

        }

    }

    &__label {
        font-size: 14px;
    }

    .accordion {
        --bs-accordion-bg: transparent;
        --bs-accordion-active-bg: transparent;
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-active-color: $orange;
        --bs-accordion-border-radius:0;
        --bs-accordion-border-color: transparent;
    }

    
}



.tooltip {
    --bs-tooltip-bg: #ffffff;
    --bs-tooltip-color: #000000;
    & .tooltip-inner {
        box-shadow: $shadow;
        padding: 6px 10px;
    }
}